

header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


.collapse {
    justify-content: flex-end;
}

.nav-link {
    text-align: center;
}

.container  img {
    width: 100%;
}

.card {
    border: none;
}

.card-body {
    border-top: 1px solid black;
    margin-top: 24px;
}

#container-card , #container-noticia ,#container-evolu , #container-noticia,#container-contato{
    margin-top: 50px;
}


#carrosel-item img {
    width: 90%;
}

#container-contato button {
    margin-top: 16px;
}


#container-rodape {
    padding: 16px 16px;
    margin-top: 50px;
}

#container-rodape p {
    margin: 0px;
}


#logo {
    width: 60px;
}